body{
    background-color: rgb(151, 116, 151);
}
.description{
    color: blanchedalmond;
    font-family: "Amethysta";
    text-align: center;
}
.ejercicio{
    font-family: "Amethysta";
    text-align: center;
}
.button{
    background-color: blueviolet;
    padding: 5px 27px;
    border-radius: 8px;
    transition-duration: 0.3;
    border-width: 0ch;
    cursor: pointer;
}
.button:hover{
    background-color: cadetblue;
}
.center{
    text-align: center;
}